@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-primary: #e4002b;
  --color-background-light: #ffffff;
  --color-background-dark: #170a0a;
  --color-active-call: #0e0c0c;
  --font-display: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #170a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
